body{
    font-family: 'Jost', sans-serif;
    border-top: 10px solid #5de200;
}
.header-nav{
    background: url(images/logo-gloria.svg) no-repeat right top;
    background-size: 300px;
    height: 51px;
    margin-top: 20px;
    align-items: flex-start;
}
@media (min-width: 992px){
    .header-nav{
        background-size: 500px;
        height: 93px;
        margin-top: 40px;
    }
    .navbar-nav{
        width: 50%;
    }
}
@media (min-width: 1200px){
    .header-nav{
        background-size: auto;
        height: 130px;
        margin-top: 70px;
    }
}
.nav-link{
    font-size: 22px;
    color: #2d2d2d;
}
@media (min-width: 992px){
    .nav-link{
        padding: 0 35px!important;
    }
}
@media (min-width: 1440px){
    .nav-link{
        padding: 0 50px!important;
    }
}
/*HIGHLIGHT TEXT*/
.highlight-text{
    width: 320px;
    margin: 0 auto 50px;
    position: relative;
    z-index: 10;
}
@media (min-width: 576px){
    .highlight-text{
        width: 500px;
    }
}
@media (min-width: 768px){
    .highlight-text{
        width: 660px;
    }
}
@media (min-width: 992px){
    .highlight-text{
        margin: 0;
    }
}
@media (min-width: 1200px){
    .highlight-text{
        left: 110px;
    }
}
.highlight-text span{
    color: #5de200;
    font-size: 35px;
    line-height: 50px;
    font-weight: 400;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
}
@media (min-width: 576px){
    .highlight-text span{
        font-size: 45px;
        line-height: 60px;
    }
}
@media (min-width: 768px){
    .highlight-text span{
        font-size: 55px;
        line-height: 80px;
    }
}
.highlight-text .line-1 span{left: 0px;}
.highlight-text .line-2 span{left: 100px;}
.highlight-text .line-3 span{left: 50px;}
.highlight-text .line-4 span{left: 0px;}
.highlight-text .line-5 span{left: 40px;}
.highlight-text .line-6 span{left: 0px;}
.highlight-text .line-6 span span{left: 10px;}

@media (min-width: 576px){
    .highlight-text .line-1 span{left: 20px;}
    .highlight-text .line-2 span{left: 150px;}
    .highlight-text .line-3 span{left: 100px;}
    .highlight-text .line-4 span{left: 30px;}
    .highlight-text .line-5 span{left: 0px;}
    .highlight-text .line-6 span{left: 50px;}
    .highlight-text .line-6 span span{left: 0px;}
}
@media (min-width: 768px){
    .highlight-text .line-1 span{left: 40px;}
    .highlight-text .line-2 span{left: 230px;}
    .highlight-text .line-3 span{left: 150px;}
    .highlight-text .line-4 span{left: 60px;}
    .highlight-text .line-5 span{left: 0px;}
    .highlight-text .line-6 span{left: 80px;}
}

/*PROJECTS*/
.list-project .row{
    width: 100%;
    max-width: 745px;
}
@media (min-width: 992px){
    .list-project{
        margin-top: -100px;
        position: relative;
    }
}
/* @media (min-width: 1200px){
    .list-project{
        left: 43px;
    }
} */
.project-link img{
    border-radius: 50%;
    overflow: hidden;
    display: block;
    margin-bottom: 20px;
}

.gloria-home{
    max-width: 1200px;
}

/*CLIENTES NAV*/
.clients-nav{
    margin-top: 100px;
}
.clients-nav a{
    font-size: 34px;
    font-weight: 500;
    text-decoration: none;
    color: #2d2d2d;
}
@media (min-width: 992px){
    .clients-nav a{
        font-size: 54px;
    }
}
.clients-nav a:hover{
    color: #5de200;
}
.clients-nav a:after{
    content: "/";
    margin-left: 10px;
}
.clients-nav a:hover:after{
    color: #2d2d2d;
}

/* ABOUTUS */
.aboutus{
    margin: 100px auto;
}
@media (min-width: 992px){
    .aboutus{
        margin: 200px auto;
    }
}
.aboutus h3{
    font-size: 35px;
    font-weight: 400;
    color: #5de200;
    padding-left: 60px;
}

.aboutus h3 span{
    display: block;
    margin-left: -60px;
}
.aboutus p{
    font-size: 18px;
    line-height: 34px;
    font-weight: 500;
}
@media (min-width: 768px){
    .aboutus h3{
        font-size: 45px;
        line-height: 52px;
        position: relative;
        top: -20px;
    }
}
@media (min-width: 992px){
    .aboutus h3{
        font-size: 64px;
        line-height: 62px;
        top: 0px;
    }
    .aboutus p{
        font-size: 24px;
        line-height: 36px;
    }
}
@media (min-width: 992px){
    .aboutus h3{
        left: 50px;
    }
}
@media (min-width: 1440px){
    .aboutus h3{
        left: 150px;
    }
}


/*TEAM*/
.team{
    margin: 150px 0;
}
.team-member img{
    border-radius: 50%;
    width: 170px;
    height: 170px;
}
@media (min-width: 992px){
    .team-member img{
        width: 250px;
        height: 250px;
    }
}
.team-member h2{
    width: 50px;
    color: #5de200;
    font-weight: 400;
    word-break: normal;
}
.team-member strong{
    font-size: 18px;
    line-height: 18px;
    width: 60%;
}

/*Proyect*/
.project{
    margin-top: 150px;
}
.project h2{
    color: #5de200;
}
.project-content{
    margin-top: -100px;
    padding-top: 200px;
    background-color: #ededed;
}
.project-content-description{
    background: #fff;
    padding: 5px;
}








/*FOOTER*/
.page footer{
    background: #ededed;
}
footer form .form-label{
    padding-left: 20px;
}
footer form input.form-control,
input.form-control:focus{
    border-radius: 0;
    border-top: none;
    background: transparent;
    border-width: 1px;
    border-color: #2d2d2d;
    box-shadow: none;
}
footer form textarea.form-control,
textarea.form-control:focus{
    border-radius: 0;
    background: transparent;
    border-width: 1px;
    border-color: #2d2d2d;
    color: #2d2d2d;
    box-shadow: none;
    height: 150px !important;
}
@media (min-width: 768px){
    footer form textarea.form-control{
        height: 240px !important;
    }
}
::placeholder{
    color: #2d2d2d;
}
footer .btn-primary,
footer .btn-primary:focus{
    background: #5de200;
    border: none;
    border-radius: 0;
    color: #2d2d2d;
    font-size: 12px;
    text-transform: uppercase;
    padding: 5px 100px;
    margin-top: 20px;
}

footer{
    border-bottom: 20px solid #5de200;
    margin-top: 150px;
}
footer .footer-nav a{
    color: #2d2d2d;
    font-weight: 500;
    text-decoration: none;
    padding-top: 30px;
    padding-bottom: 30px;
    display: inline-block;
}
footer .footer-nav a:last-child{
    margin-left: 25px;
}

.project-content + footer{
    margin-top: 0;
    padding-top: 100px;
}